
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution / Packaging
dist/
build/
*.spec

# IDEs
.idea/
.vscode/

# Project Specific
output/
scripts/samples/
*.log
