
name: Build Portable Apps

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: 'pip' # Caching pip packages
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest flake8 pyinstaller
        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings.
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
    - name: Test with pytest
      # Use shell bash to ensure consistency, set PYTHONPATH
      shell: bash
      run: |
        export PYTHONPATH=$PWD
        pytest tests
        
    - name: Build with PyInstaller
      run: |
        pyinstaller app.spec
        
    # Packaging for Linux
    - name: Package Linux
      if: runner.os == 'Linux'
      run: |
        cd dist
        tar -czvf PassPhotoCheck-Linux.tar.gz PassPhotoCheck/
        
    # Packaging for Windows
    - name: Package Windows
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        cd dist
        Compress-Archive -Path PassPhotoCheck -DestinationPath PassPhotoCheck-Windows.zip
        
    - name: Upload Artifact (Linux)
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v4
      with:
        name: PassPhotoCheck-Linux
        path: dist/PassPhotoCheck-Linux.tar.gz
        
    - name: Upload Artifact (Windows)
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: PassPhotoCheck-Windows
        path: dist/PassPhotoCheck-Windows.zip
